<header>

    <!-- start top -->
    <div id="topnav" class="navbar navbar-fixed-top default">
      <div class="navbar-inner">
        <div class="container">
          <!-- <div class="logo">
            <a class="brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
          </div> -->
          <div class="navigation">
            <nav>
              <ul class="nav pull-right">
                <li class="current"><a href="#featured">Home</a></li>
                <li><a routerLink="/admin">Admin</a></li>
                <li><a routerLink="/servi">Customer Services</a></li>
                <li><a routerLink="/customer">Customer</a></li>
                <!-- <li><a routerLink="/contact">Contact</a></li> -->
                <!-- <li class="dropdown">
                  <a href="#">More</a>
                  <ul class="dropdown-menu">
                    <li><a href="components.html" class="external">Components</a></li>
                    <li><a href="icons.html" class="external">Icons</a></li>
                  </ul>
                </li> -->
              </ul>
            </nav>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end top -->
  </header>
  
  <!-- section featured -->
  <section id="featured">
  
    <!-- sequence slider -->
    <div id="sequence-theme">
      <img class="prev" src="../assets/img/bt-prev.png" alt="Previous">
      <img class="next" src="../assets/img/bt-next.png" alt="Next">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="sequence">
              <ul>
                <li class="animate-in">
                  <div class="info letter-container">
                    <h2 class="fade">Netsettle</h2>
                  </div>
                  <h4 class="subtitle">Welcome to Invoice Portal</h4>
                  <div class="bottomup">
                    <img src="../assets/img/slider/parallax/img-1.png" alt="">
                  </div>
                </li>
                <li class="animate-in">
                  <div class="info letter-container">
                    <h2 class="fade">We Create Unique Website</h2>
                  </div>
                  <h4 class="subtitle">Customers can easily access without complication</h4>
                  <div class="lefttop">
                    <img src="../assets/img/slider/parallax/img-2.png" alt="">
                  </div>
                </li>
                <li class="animate-in">
                  <div class="info letter-container">
                    <h2 class="fade">Staying Updated Everyday</h2>
                  </div>
                  <h4 class="subtitle">With Latest Technology</h4>
                  <div class="righttop">
                    <img src="../assets/img/slider/parallax/img-3.png" alt="">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end sequence slider -->
  </section>
  <!-- end featured -->
  
  <!-- Section about -->
  <section id="about" class="section">
    <div class="gray-shadow">
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="headline">
            <h3><span>About our company</span></h3>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="section-intro">
            <p>
              At Netsettle, we specialize in simplifying telecom billing. We understand the complexities of telecom invoices, and our mission is to make them transparent and manageable for individuals and businesses.
Our platform offers detailed billing breakdowns, usage analysis, and secure payment options. We're committed to helping you take control of your telecom expenses.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </section>
  <!-- end section about -->
  
  <!-- section services -->
  <section id="services" class="section parallax">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="headline">
            <h3><span>Netsettle services</span></h3>
          </div>
        </div>
        <div class="span12">
          <div class="section-intro">
            <p>
              The strength of a network is determined by the strength of its connections.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="well box aligncenter">
            <i class="icon-circled active icon-48 icon-group"></i>
            <h3>Usage Tracking</h3>
            <p>
              Monitor data, call, and text usage to optimize your plans.
            </p>
            <a href="#" class="btn btn-color">Learn more</a>
          </div>
        </div>
        <div class="span3">
          <div class="well box aligncenter">
            <i class="icon-circled icon-48 icon-thumbs-up"></i>
            <h3>Secure Payments</h3>
            <p>
              Your payment information is safeguarded with us.
            </p>
            <a href="#" class="btn btn-color">Learn more</a>
          </div>
        </div>
        <div class="span3">
          <div class="well box aligncenter">
            <i class="icon-circled icon-48 icon-beaker"></i>
            <h3>Transparent Billing </h3>
            <p>
              We provide clarity in understanding your telecom charges.
            </p>
            <a href="#" class="btn btn-color">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section services -->
  <!-- section contact -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="headline">
            <h3><span>Get in touch with us</span></h3>
          </div>
        </div>
        <div class="span12">
          <div class="section-intro">
            <p>
              Feel free to ask if you have any question regarding our services or if you just want to say Hello, we would love to hear from you.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h4><i class="icon-circled icon-32 icon-user"></i> Get in touch with us</h4>
          <div class="dotted_line">
          </div>
          <p>
            <span><i class="icon-phone"></i> <strong>Phone:</strong> +6221 213 22 21 or +6221 213 22 22</span>
          </p>
          <p>
            <span><i class="icon-comment"></i> <strong>Skype:</strong> hello.netsettle</span>
          </p>
          <p>
            <span><i class="icon-envelope-alt"></i> <strong>Email:</strong>netsettle@gmail.com</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section contact -->
  
  
  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div class="logo">
                <a class="brand" href="index.html">
                <img src="img/logo.png" alt="">
              </a>
              </div>
              <p>Contact Us</p>
              <div class="social-links">
                <ul class="social-links">
                  <li><a href="#" title="Twitter"><i class="icon-circled icon-64 icon-twitter"></i></a></li>
                  <li><a href="#" title="Facebook"><i class="icon-circled icon-64 icon-facebook"></i></a></li>
                  <li><a href="#" title="Google plus"><i class="icon-circled icon-64 icon-google-plus"></i></a></li>
                  <li><a href="#" title="Linkedin"><i class="icon-circled icon-64 icon-linkedin"></i></a></li>
                  <li><a href="#" title="Pinterest"><i class="icon-circled icon-64 icon-pinterest"></i></a></li>
                </ul>
  
              </div>
  
              <p>
                &copy; Netsettle - All right reserved
              </p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Selecao
                -->
                Designed by <a href="https://Netsettle.com/">Netsettle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <router-outlet></router-outlet>
  
